*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
main{
  width:100%;
  height:100vh;
  background-color: #86E5FF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.row{
  width:1000px;
  border:1px red solid;
  justify-content: center;
  display: flex;
  align-items: center;
  margin:10px;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}
#search{
    font-size: 25px;
    border-radius: 25px;
    padding: 10px;
    border:none;
    outline: none;
}
